n8n/workflows/flodesk-performance-pull.json
{
  "name": "Flodesk Performance Pull (weekly)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1 }] }
      },
      "id": "schedule",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.flodesk.com/v1/campaigns",
        "options": {}
      },
      "id": "fetch-flodesk",
      "name": "Fetch Flodesk Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_FLODESK_CREDENTIAL_ID",
          "name": "Flodesk API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{$env[\"NOTION_PERFORMANCE_DB_ID\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Platform|rich_text", "textValue": "Flodesk" },
            { "key": "Metric Snapshot|rich_text", "textValue": "={{JSON.stringify($json)}}" },
            { "key": "Pulled At|date", "date": "={{$now.toISO()}}" }
          ]
        }
      },
      "id": "write-notion",
      "name": "Write to Notion Performance",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [680, 300],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "Notion"
        }
      }
    }
  ],
  "connections": {
    "Weekly Schedule": { "main": [[{ "node": "Fetch Flodesk Campaigns", "type": "main", "index": 0 }]] },
    "Fetch Flodesk Campaigns": { "main": [[{ "node": "Write to Notion Performance", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
